<?xml version="1.0" encoding="UTF-8"?>
<server description="Conjur MicroProfile REST - Conjur Admin API">

    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>jsonp-2.1</feature>
        <feature>cdi-4.0</feature>
        <feature>mpConfig-3.1</feature>
        <feature>mpHealth-4.0</feature>
        <feature>mpOpenAPI-3.1</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="app.context.root" defaultValue="/"/>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="${default.http.port}" host="*"/>

    <webApplication location="conjur-microprofile-rest.war" contextRoot="${app.context.root}">
        <classloader apiTypeVisibility="+third-party"/>
    </webApplication>

</server>
