# Build output
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# H2 Database files
data/
*.db
*.trace.db
*.lock.db

# Log files
logs/
*.log

# IDE - Eclipse/STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IDE - IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# IDE - NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE - VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Maven
dependency-reduced-pom.xml
