<?xml version="1.0" encoding="UTF-8"?>
<server description="test6 - Stateful EJB Shopping Cart on OpenLiberty">

    <featureManager>
        <feature>ejbLite-3.2</feature>
        <feature>servlet-4.0</feature>
        <feature>jndi-1.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9081"
                  httpsPort="9444"
                  host="*"/>

    <applicationManager autoExpand="true"/>

    <enterpriseApplication id="test6ear"
                           location="test6ear.ear"
                           name="test6ear"/>

    <logging consoleLogLevel="INFO"
             traceSpecification="com.example.test6.*=fine"/>

</server>
